CLI_BRAND_SLUG=promaker
CLI_BRAND_NAME=Promaker
CLI_BIN_NAME=promaker
CLI_CONFIG_DIR_NAME=promaker
CLI_PACKAGE_SCOPE=@promakerdev
CLI_PACKAGE_NAME=promaker-cli
CLI_PACKAGE_REGISTRY=https://npm.pkg.github.com
CLI_INSTALL_REPO=PromakerDev/promaker-cli-scripts
CLI_INSTALL_REF=v1.2.25
